{{!-- Main Greeting Section --}}
<div class="container">
    <div class="jumbotron">
        <div class="col-md-6 bg mb-5">
            <h1 class="display-4 font-weight-bold">Get Your Shake On!</h1>
            <p class="lead font-weight-bold">Let's dream up your favorite kind of shake!</p>
        </div>
    
        <div class="col-md-12 bg font-weight-bold mt-5 pt-2 pb-1">
            <p>Get started by typing in your idea of an awesome shake below. Once you have submitted it you can then devour it by clicking devour. Let's get started!</p>
        </div>
    </div>

    {{!-- Submit Section --}}
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <form class="create-form">
                <div class="form-group">
                    <label for="ca">Name 'Dat Shake:</label>
                    <input type="text" id="ca" name="name">
                    <button type="submit" class="btn btn-danger">Create Drink!</button>
                </div>
                
            </form>
        </div>
    </div>
        

    {{!-- Content Section --}}
    <div class="row d-flex justify-content-center">
        <div class="col-md-4 d-flex justify-content-center">
            <h2>Shake Creations:</h2>
            <div class="row">
                <div id="shakeCreations">
                    <ul>
                        {{#each shakes}}
                            {{#unless Drank}}
                            {{> shakes/shake-block Drank=true}}
                            {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
        <div class="mainImg m-3 col-md-2 d-flex justify-content-center">
            <img src="./assets/images/milkshake.png" alt="Main Shake Image" height="250px">
        </div>
        <div class="col-md-4 d-flex justify-content-center">
            <h2>Devoured Shakes:</h2>
            <div id="devouredShakes">
                <ul>
                    {{#each shakes}}
                        {{#if Drank}}
                        {{> shakes/shake-block Drank=false}}
                        {{/if}}
                    {{/each}}
                </ul>
            </div>
        </div>
    </div>

</div>






















<h1>Cats!</h1>

<h2>Cats that are not sleepy!</h2>

<ul>
  {{#each shakes}}
    {{#unless sleepy}}
      {{> shakes/shake-block sleep=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Cats that are sleepy!</h2>

<ul>
  {{#each shakes}}
    {{#if sleepy}}
      {{> shakes/shake-block sleep=false}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Cat</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Cat Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <div class="form-group">
    <label for="sleepy">Sleepy?</label><br>
    <input type="radio" name="sleepy" value="1" checked> Sleepy!<br>
    <input type="radio" name="sleepy" value="0"> Awake
  </div>

  <button type="submit">Add Cat</button>
</form>
