body, html {
    height: 100%;
    background-image: url("https://playingintheworldgame.files.wordpress.com/2012/08/shorpy_064610pu.jpg");
    background-position: center;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-attachment: fixed;
}

li {
    padding: 5px;
    margin: 7px;
    background-color: rgb(232,232,232);
    list-style-type: none;
    border-radius: 10px;
    font-weight: bolder;
  }
  
  .label {
    font-weight: bold;
  }
  
.jumbotron {
    background-image: url("../images/shakeHeaderImage.jpg");
    border-radius: 10px;
    height: 100%;
    background-size: cover;
}

.bg {
    background-color: rgba(255,255,255,.7);
    border-radius: 15px;
    padding-bottom: 3px;
    margin: auto;
    text-align: center;
    
}

.mainImg {
    
    margin: auto;
    
}

#inputArea {
  background-color: white;
  margin: 5% 0% 5% 0%;
  border-radius: 10px;
  padding: 1%;
  margin: auto;

}

#resultsArea {
  background-color: white;
  margin: 5% 0% 5% 0%;
  border-radius: 10px;
  padding: 1%;
}

.resultTitle {
  text-align: center;
  font-weight: bolder;
}