<li>
	{{Shake}}

	<button class="change-drank" data-id="{{id}}" data-newsleep="{{Drank}}">
		{{#if Drank}}Drink Up!{{/if}}
	</button>

	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li>
