<li>
	<img src="./assets/images/milkshake.png" alt="Main Shake Image" height="30px">
	{{Shake}}
	
	{{#if Drank}}
	<button class="change-drank btn btn-danger" data-id="{{id}}">
		Drink Up!
	</button>
	{{/if}}
</li>
